<div class="container">
    <div class="col-md-8 offset-2">
        <div class="card">
            <h2 *ngIf="!isEditForm" class="d-flex justify-content-center card-body">New Contact</h2>
            <h2 *ngIf="isEditForm" class="d-flex justify-content-center card-body">Edit Contact</h2>

            <form [formGroup]="contactForm" (ngSubmit)="saveContact()">
                <div class="container">
                <div class="row">
                <div class="col-md-6 card-body">
                    <input formControlName="first_name" type="text" placeholder="Name" class="form-control" autofocus>
                </div>
                <div class=" col-md-6 card-body">
                    <input formControlName="last_name" type="text" name="lastName" placeholder="Last Name" class="form-control" autofocus>
                </div>
                </div>
                <div class="row">
                <div class="col-md-6 card-body">
                    <input formControlName="email" type="email" name="email" placeholder="Email" class="form-control" autofocus>
                </div>
                <div class="col-md-6 card-body form-group">
                    <input formControlName="phone" type="phone" name="phone" placeholder="Phone Number" class="form-control" autofocus>
                </div>
                </div>
                <div class="row"> 
                    <div class="d-flex justify-content-center card-body form-submit">
                        <button type="submit" [disabled]="!contactForm.valid || notChanges()" class="btn btn-success btn-block">Save</button>
                    </div>
                </div>
                
                </div>
            </form>
        </div>
    </div>
</div>
